
.tabbed-set {
  border: 2px solid #ccc;
  border-radius: 6px;
  padding: 10px;
}

.tabbed-content {
  border-top: 1px solid #ccc;
  padding: 10px;
}

.md-typeset .admonition {
  font-size: 1.1em;
}
  
.md-typeset .tabbed-content {
  font-size: 1.2em
}

.md-typeset .admonition.note > .admonition-title::before {
  content: none; /* Removes the icon */
}

