
.tabbed-set {
  border: 2px solid #ccc;
  border-radius: 6px;
  padding: 10px;
}

.tabbed-content {
  border-top: 1px solid #ccc;
  padding: 10px;
}

.md-tabs__link {
    font-size: 1.1rem; 
    font-weight: bold; /* Controls font size of tabbed content */
}
  
.md-typeset .tabbed-content {
  font-size: 1.0em /* Controls font size of text in tabs */
}

.md-typeset .admonition {
  font-size: 1.0em /* Controls font size of admonition */
}

.md-typeset .admonition.note > .admonition-title::before {
  content: none; /* Removes the icon in admonition with empty titles */
}

.md-typeset .grid.cards > * {
  border: 4px solid #333;   /* thickness + color */
  border-radius: 6px;       /* optional: rounded corners */
  padding: 1rem;            /* optional: spacing inside */
}

h1, h2 {
    color: #000000; /* Pure black or choose a darker shade */
    font-weight: 900; /* Optional: make them bolder */
}

.md-header {
  height: 70px;
}

